@use "../Global";
.containContact {
  margin: {
    top: 5%;
  }
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: map-get(Global.$pallete, color1);
  &Title {
    border: {
      left: 5px solid map-get(Global.$pallete, color2);
      bottom: 5px solid map-get(Global.$pallete, color2);
    }
    padding: 10px 40px;
    margin-top: 40px;
    overflow: hidden;
    color: map-get(Global.$pallete, color4);
    font-size: xx-large;
    display: flex;
    align-items: center;
    @media (max-width: 407px) {
      padding: 10px;
      font-size: x-large;
    }
    h1 {
      margin: 0;
      margin-right: 30px;
      display: inline-block;
    }
    svg {
      font-size: xxx-large;
    }
  }
  &Form {
    color: map-get(Global.$pallete, color5);
    margin: 0 50px 50px 50px;
    label {
      font-weight: bold;
    }
    input,
    textarea {
      background-color: map-get(Global.$pallete, color3);
      border-radius: 10px;
      width: 90%;
      padding: 5%;
      border: none;
      color: map-get(Global.$pallete, color5);
      &::placeholder {
        color: map-get(Global.$pallete, color4);
      }
      &:focus-visible {
        outline: 1px solid map-get(Global.$pallete, color5);
      }
    }
    textarea {
      max-height: 200px;
      resize: vertical;
    }
    @mixin border($direction) {
      padding: 20px 50px;
      border: {
        #{$direction}: 5px solid map-get(Global.$pallete, color2);
        bottom: 5px solid map-get(Global.$pallete, color2);
      }
      @media (max-width: 407px) {
        padding: 20px 40px;
      }
    }
    .divGmail {
      @include border("right");
    }
    .divName {
      @include border("left");
    }
    .divMessage {
      @include border("right");
    }
    .divSendButton {
      @include border("left");
    }
    .sendButton {
      width: 50%;
      font-weight: bold;
      background-color: map-get(Global.$pallete, color3);
      &:active {
        background-color: map-get(Global.$pallete, color5);
        color: map-get(Global.$pallete, color2);
      }
    }
  }
}
