@use "../Global";
.containContact {
  margin: {
    top: 10%;
    left: 15%;
    bottom: 20%;
  }
  &Title {
    border: {
      left: 10px solid rgb(0, 0, 100);
      top: 5px solid rgb(0, 0, 255);
    }
    padding: 10px;
    margin: 10% 0;
    overflow: hidden;
    h1 {
      margin: 0;
      font-size: xx-large;
      @include Global.appear("-Y");
    }
  }
  nav {
    display: flex;
    justify-content: space-around;
    article {
      @mixin icons($color) {
        border: {
          bottom: 10px solid $color;
        }
        a {
          color: $color;
        }
        div {
          background-color: $color;
        }
        &:hover div {
          transform: translateX(0);
        }
      }
      overflow: hidden;
      a {
        font-size: 80px;
        svg {
          margin: 20px;
          @include Global.appear("Y");
        }
      }
      div:nth-child(1) {
        display: inline-block;
        transition: all 0.4s;
        width: 5px;
        height: 100%;
        transform: translateY(120%);
      }
      &:nth-child(1) {
        @include icons(rgb(40, 130, 205));
      }
      &:nth-child(2) {
        @include icons(rgb(210, 20, 20));
      }
      &:nth-child(3) {
        @include icons(rgb(30, 210, 80));
      }
    }
  }
}
