@use "../Global";
.contain {
  padding-top: 100px;
  @media (max-width: 768px) {
    margin: 15% 0;
  }
  section {
    padding: 10px;
    margin: 5% 0;
    border-left: 5px solid map-get(Global.$pallete, color1);
    overflow: hidden;
    h1 {
      color: map-get(Global.$pallete, color5);
      font-size: xx-large;
      @include Global.appear("-X");
      background-color: map-get(Global.$pallete, color3);
      display: inline-block;
      padding: 20px;
      margin: 10px;
      border-radius: 20px;
      box-shadow: -40px 0 map-get(Global.$pallete, color3);
    }
  }
  &Nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 5%;
    @media (max-width: 1030px) {
      gap: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &Link {
      &Odd {
        border-right: 5px solid map-get(Global.$pallete, color1);
        div {
          box-shadow: 100px 0 map-get(Global.$pallete, color3);
          @include Global.appear("X");
          &:hover {
            box-shadow: 100px 0 map-get(Global.$pallete, color4);
          }
        }
      }
      &Even {
        border-left: 5px solid map-get(Global.$pallete, color1);
        div {
          box-shadow: -100px 0 map-get(Global.$pallete, color3);
          @include Global.appear("-X");
          &:hover {
            box-shadow: -100px 0 map-get(Global.$pallete, color4);
          }
        }
      }
      padding: 20px 0;
      transition: all 0.5s;
      text-decoration: none;
      overflow: hidden;
      display: flex;
      justify-content: center;
      @media (max-width: 1030px) {
        width: 45%;
        height: 300px;
        border: {
          left: none;
          right: none;
        }
        border-top: 5px solid map-get(Global.$pallete, color1);
        div {
          width: 60%;
          box-shadow: 0 -100px map-get(Global.$pallete, color3);
          &:hover {
            box-shadow: 0 -100px map-get(Global.$pallete, color4);
          }
        }
      }
      @media (max-width:630px) {
        width: 100%;
      }
      &Content {
        background-color: map-get(Global.$pallete, color3);
        border-radius: 20px;
        padding: 30px;
        transition: all 0.5s;
        h3 {
          margin-top: 0;
          font-size: x-large;
          color: map-get(Global.$pallete, color5);
          transition: all 0.5s;
        }
        img {
          width: 100%;
          height: 80%;
        }
        &:hover {
          h3 {
            color: map-get(Global.$pallete, color1);
          }
          background-color: map-get(Global.$pallete, color4);
        }
      }
    }
  }
}
