$pallete: (
  color1: #300030,
  color2: #480048,
  color3: #601848,
  color4: #c04848,
  color5: #f07241,
);
@mixin appear($direccion) {
  @if ($direccion== "X") {
    transform: translateX(100%);
  } @else if($direccion== "-X") {
    transform: translateX(-100%);
  } @else if($direccion== "Y") {
    transform: translateY(100%);
  } @else if($direccion== "-Y") {
    transform: translateY(-100%);
  }
  animation: {
    duration: 0.5s;
    fill-mode: forwards;
    name: appear;
    timing-function: linear;
  }
  @keyframes appear {
    100% {
      transform: translateY(0);
      transform: translateX(0);
    }
  }
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
