$azul: rgb(80, 120, 255);
$blanco: rgb(255, 255, 255);
$negro: rgb(0, 0, 0);
.bodyProyectos {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 180);
    border-radius: 20px;
    &:hover {
      background-color: rgb(80, 80, 210);
    }
  }
}
.containCirculosBackground {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 90vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.animacion {
  border-radius: 100%;
  animation-name: mianimacion;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  &:nth-child(even) {
    background-color: rgb(0, 80, 180);
    border: solid 1px rgb(30, 30, 60);
  }
  &:nth-child(odd) {
    background-color: rgb(150, 150, 150);
    border: solid 1px rgb(40, 40, 40);
  }
}
@keyframes mianimacion {
  0% {
    width: 1px;
    height: 1px;
    margin: {
      top: 100vh;
      left: 29px;
      right: 29px;
    }
  }
  100% {
    margin: {
      top: -60px;
      left: 0;
      right: 0;
    }
    width: 40px;
    height: 40px;
    border-width: 10px;
    opacity: 0;
  }
}
$breakpoints: (
  sm: 540px,
  md: 768px,
  lg: 1024px,
);