@use "./Global";
$azul: rgb(80, 120, 255);
$blanco: rgb(255, 255, 255);
$negro: rgb(0, 0, 0);
.bodyProyectos {
  &::-webkit-scrollbar {
    background-color: map-get(Global.$pallete, color1);
    width: 15px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: map-get(Global.$pallete, color5);
    border-radius: 20px;
    &:hover {
      background-color: map-get(Global.$pallete, color4);
    }
  }
}
.containCirculosBackground {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  @mixin animacionEven() {
    background-color: map-get(Global.$pallete, color4);
    animation-name: mianimacionEven;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    @keyframes mianimacionEven {
      0% {
        box-shadow: 0 0 10px 1px map-get(Global.$pallete, color4);
        width: 1px;
        height: 1px;
        margin: {
          top: 100vh;
          left: 19px;
          right: 19px;
        }
      }
      100% {
        margin: {
          top: 0;
          left: 0;
          right: 0;
        }
        width: 40px;
        height: 40px;
        box-shadow: 0 0 10px 10px map-get(Global.$pallete, color4);
        opacity: 0;
      }
    }
  }
  @mixin animacionOdd() {
    background-color: map-get(Global.$pallete, color1);
    animation-name: mianimacionOdd;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    @keyframes mianimacionOdd {
      0% {
        box-shadow: 0 0 10px 1px map-get(Global.$pallete, color1);
        width: 1px;
        height: 1px;
        margin: {
          top: 100vh;
          left: 19px;
          right: 19px;
        }
      }
      100% {
        margin: {
          top: 0;
          left: 0;
          right: 0;
        }
        width: 40px;
        height: 40px;
        box-shadow: 0 0 10px 10px map-get(Global.$pallete, color1);
        opacity: 0;
      }
    }
  }
  .animacion {
    border-radius: 100%;
    &:nth-child(even) {
      @include animacionEven();
    }
    &:nth-child(odd) {
      @include animacionOdd();
    }
  }
}
.contain {
  &Header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    z-index: 2;
    background-color: map-get(Global.$pallete, color1);
    &Logo {
      color: map-get(Global.$pallete, color4);
      font-size: xx-large;
      margin: 0 5%;
      display: flex;
      align-items: center;
      a {
        color: map-get(Global.$pallete, color4);
      }
      p {
        font-size: x-large;
        font-weight: bold;
        margin-left: 10px;
      }
    }
    &Button {
      margin: 0 5%;
      a {
        color: map-get(Global.$pallete, color5);
        &:hover {
          color: map-get(Global.$pallete, color4);
        }
        margin: 0 20px;
        @media (max-width: 407px) {
          margin: 0 5px;
        }
        text-wrap: nowrap;
        transition: all 0.3s;
      }
      button {
        background-color: map-get(Global.$pallete, color1);
        border: none;
        text-decoration: underline;
        display: inline;
        color: map-get(Global.$pallete, color5);
        font-size: medium;
        transition: all 0.3s;
        &:hover {
          cursor: pointer;
          color: map-get(Global.$pallete, color4);
        }
      }
    }
  }
  &Content {
    width: 80%;
    margin: 100px auto 0;
    @media (max-width: 768px) {
      margin: 10% 5%;
      width: 90%;
    }
    z-index: 1;
    &Start {
      padding: 150px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      @media (max-width: 865px) {
        gap: 100px;
      }
      &Me {
        border: {
          top: 20px solid map-get(Global.$pallete, color5);
          bottom: 20px solid map-get(Global.$pallete, color5);
        }
        width: 50%;
        color: map-get(Global.$pallete, color5);
        background-color: map-get(Global.$pallete, color3);
        box-shadow: 420px 0 0 60px map-get(Global.$pallete, color4);
        @media (max-width: 1200px) {
          box-shadow: 300px 0 0 60px map-get(Global.$pallete, color4);
        }
        @media (max-width: 865px) {
          box-shadow: 0 400px 0 60px map-get(Global.$pallete, color4);
        }
        @media (max-width: 714px) {
          width: 100%;
        }
        border-radius: 10px;
        padding: 20px;
        h1 {
          font-size: xx-large;
          margin: {
            bottom: 0;
            top: 10px;
          }
          padding-bottom: 20px;
          border-right: 5px solid map-get(Global.$pallete, color1);
        }
        p {
          line-height: 1.9;
          padding: 20px;
          border-left: 5px solid map-get(Global.$pallete, color1);
          border-top: 5px solid map-get(Global.$pallete, color1);
          margin-top: 0;
        }
      }
      &TecIcons {
        @media (min-width: 471px) {
          width: 300px;
          height: 300px;
        }
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @mixin rotar($sentido) {
          color: map-get(Global.$pallete, color1);
          font-size: 80px;
          animation: {
            name: #{$sentido}_rotarIconos;
            duration: 30s;
            timing-function: linear;
            iteration-count: infinite;
          }
          @keyframes #{$sentido}_rotarIconos {
            100% {
              @if ($sentido== "horario") {
                transform: rotate(360deg);
              } @else {
                transform: rotate(-360deg);
              }
            }
          }
        }
        @include rotar("horario");
        .rotarAntihorario {
          @include rotar("antihorario");
        }
        .rotarHorario {
          @include rotar("horario");
        }
      }
    }
  }
}
